.header {
  padding-top: 3%;
  background-color: #010005;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-wrap .hamb-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25%;
}
.navbar-wrap .hamb-menu__item {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 11px;
  margin-right: 40px;
  flex-shrink: 0;
}

.navbar-wrap .hamb-menu__item a,
.navbar__button {
  font-family: "Montserrat";
  font-style: normal;
  text-decoration: none;
  color: #8d81ac;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
}
.navbar-wrap .hamb-menu__item a:hover,
.navbar__button:hover {
  color: #ffffff;
}

.navbar__button {
  color: #ffffff;
  padding: 11px 0px;
  border-radius: 40px;
  background-color: #8d81ac;
  width: 145px;
  height: 38px;
}
.navbar__button:hover {
  color: #8d81ac;
  background-color: #ffffff;
}

.navbar-wrap {
  height: 100%;
}

.popup {
  display: none;
}

.hamb {
  display: none;
}

.close_icon {
  display: none;
  align-items: flex-end;
  flex-shrink: 1;
  padding: 13px 14px;
  cursor: pointer;
}
.close_icon-img {
  width: 23px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #8d81ac;
}
.navbar-logo__img {
  width: 48px;
  margin-right: 17px;
}
.navbar-logo:hover .navbar-logo__text {
  color: #ffffff;
}
.navbar-logo:hover .navbar-logo__img {
  content: url(/dist/img.min/logo-hover.png);
}

.header-subscribe {
  background-image: url(/dist/img.min/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3% 0 30%;
}
.header-subscribe__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 82px;
  line-height: 82px;
  color: #ffffff;
  margin: 127px auto 3%;
  text-align: center;
}
.header-subscribe__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #8d81ac;
  text-align: center;
  margin-bottom: 20px;
}
.header-subscribe__specification {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #848e97;
  text-align: center;
  margin: 20px auto 150px;
}

@media screen and (max-width: 1091px) {
  .navbar-wrap .hamb-menu {
    margin-left: 15%;
  }
}
@media screen and (max-width: 991px) {
  .header {
    background-color: #27262a;
  }
  .header-subscribe__title {
    font-size: 72px;
    margin-top: 40px;
  }
  .header-subscribe__subtitle {
    font-size: 24px;
  }
  .header-subscribe__specification {
    font-size: 14px;
  }
  .navbar-wrap .hamb-menu {
    flex-shrink: 0;
    margin: 30px auto;
  }
  .navbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    grid-template-areas: "navbar__logo navbar__button" "hamb-menu hamb-menu";
  }
  .navbar__logo {
    grid-area: navbar__logo;
  }
  .hamb-menu {
    grid-area: hamb-menu;
  }
  .navbar__button {
    grid-area: navbar__button;
  }
}
@media screen and (max-width: 550px) {
  .navbar-wrap .hamb-menu__item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .navbar__button {
    flex: 0 1 119px;
  }
  .header-subscribe__title {
    font-size: 48px;
  }
  .header-subscribe__subtitle {
    font-size: 18px;
  }
  .navbar-wrap .hamb-menu {
    display: none;
  }
  .navbar-logo__text {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamb {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-shrink: 1;
  }
  .hamb__field {
    padding: 13px 14px;
    cursor: pointer;
  }
  .hamb__field.active .bar:nth-child(1) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(2) {
    transform: translateY(-2px) rotate(45deg);
    margin-top: 5px;
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .bar {
    display: block;
    width: 26px;
    height: 3px;
    margin: 6px auto;
    background-color: #ffffff;
    transition: 0.2s;
    border-radius: 5px;
  }
  .bar:nth-child(1) {
    width: 15px;
    margin-left: 11px;
  }
  .popup {
    position: absolute;
    top: 60px;
    height: 378px;
    width: 293px;
    z-index: 100;
    transition: 0.3s;
  }
  .popup.open {
    right: 0;
    display: flex;
  }
  .popup .hamb-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .popup .hamb-menu__item {
    padding: 29px 0px 29px 0px;
    font-size: 14px;
    background-color: #333333;
    border: 2px solid #3b3b3b;
  }
  .popup .hamb-menu__item a {
    font-family: "Montserrat";
    font-style: normal;
    color: #ffffff;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    padding: 10px 0px 10px 35px;
  }
  .popup .hamb-menu__item a:hover {
    color: #8d81ac;
    border-left: 8px solid #8d81ac;
  }
}
.revoEditor {
  text-align: center;
  position: relative;
}

.revoEditor__downloadBtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
  background: #8d81ac;
  border: 2px solid #8d81ac;
  border-radius: 40px;
  box-sizing: border-box;
  width: 390px;
  height: 62px;
  padding: 17px 55px;
  align-items: center;
  position: absolute;
  top: -81px;
  left: calc(50% - 195px);
}
.revoEditor__downloadBtn:hover {
  color: #8d81ac;
  background-color: #ffffff;
}

.revoEditor__item {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: #848e97;
  margin: 50px auto 70px;
}

.revoEditor__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #635c73;
  margin-bottom: 35px;
}

.revoEditor__content {
  font-family: "Lato";
  font-style: normal;
  font-size: 21px;
  line-height: 32px;
  color: #323232;
  margin: 0 168px;
}

.revoEditor__button-wrapper {
  display: flex;
  margin: 20px auto 70px;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

.revoEditor__button {
  margin: 5px;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 116px;
  height: 26px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: none;
}

.button-item {
  display: flex;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 4px;
  align-items: center;
  height: 100%;
  width: 100%;
}
.button-item__icon {
  width: 20px;
  height: 20px;
}
.button-item__text {
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  height: 100%;
}
.button-item__amount {
  font-size: 10px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 6px;
  text-align: center;
  box-sizing: border-box;
  background-color: none;
  border-left: 1px solid rgb(221, 221, 221);
}

@media screen and (max-width: 991px) {
  .revoEditor__content {
    margin: 0 38px;
  }
}
@media screen and (max-width: 770px) {
  .revoEditor__title {
    font-size: 42px;
    line-height: 42px;
  }
}
@media screen and (max-width: 480px) {
  .revoEditor__downloadBtn {
    width: 290px;
    height: 45px;
    padding: 10px 27px;
    font-size: 18px;
    line-height: 20px;
    top: -73px;
    left: calc(50% - 145px);
  }
  .revoEditor__title {
    font-size: 26px;
    line-height: 28px;
  }
  .revoEditor__content {
    margin: 0 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .revoEditor__button-wrapper {
    margin-top: 36px;
  }
  .revoEditor__button {
    margin-bottom: 20px;
  }
}
.whatYouGet {
  background-color: #f4f4f4;
  font-family: "Montserrat";
  font-style: normal;
  position: relative;
  padding-top: 94px;
  padding-bottom: 71px;
}
.whatYouGet__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.whatYouGet__features {
  flex: 1 1 390px;
}
.whatYouGet__element {
  display: flex;
  flex-direction: column;
}
.whatYouGet__img {
  width: 100%;
}

.feature__item {
  display: grid;
  grid-template-columns: 111px minmax(330px, 400px);
  gap: 20px;
  padding-bottom: 34px;
}

.feature__item-img {
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
}

.feature__item-title {
  font-size: 16px;
  line-height: 21px;
  color: #323232;
}

.feature__item-content {
  font-size: 14px;
  line-height: 21px;
  color: #848e97;
}

.whatYouGet__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: #8d81ac;
  margin-left: 10%;
  position: relative;
}
.whatYouGet__title.outside {
  display: none;
}
.whatYouGet__title::after {
  content: ">";
}
.whatYouGet__title::before {
  content: "<";
}

@media screen and (min-width: 1200px) {
  .whatYouGet__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .feature__item {
    grid-template-columns: 111px 1fr;
  }
  .whatYouGet {
    background-color: #ffffff;
    padding-top: 5%;
  }
  .whatYouGet__wrapper {
    display: flex;
    flex-direction: column;
  }
  .whatYouGet__title.outside {
    display: block;
    font-size: 42px;
    margin-bottom: 5%;
    text-align: center;
  }
  .whatYouGet__title.within {
    display: none;
  }
  .img-wrapper {
    margin-left: 30px;
  }
}
@media screen and (max-width: 481px) {
  .whatYouGet__img {
    height: 381px;
    object-fit: cover;
    object-position: left;
  }
  .feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 34px;
  }
  .feature__item-description {
    text-align: center;
  }
  .whatYouGet__title.outside {
    font-size: 32px;
  }
}
.peopleTalking {
  background-image: url(/dist/img.min/peopleTalking-bg.jpg);
  background-color: #4b3b4b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.peopleTalking__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10% 0px 5% 0px;
}
.peopleTalking__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 85px;
}
.peopleTalking__text {
  font-family: "Lato";
  font-style: normal;
  color: #a291a5;
  padding: 10%;
}
.peopleTalking__text::after {
  content: "";
  display: block;
  text-align: center;
  border-bottom: 2px solid #645766;
  width: 80%;
  margin: 18px auto;
}

.peopleTalking-content-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
  justify-items: center;
  gap: 30px;
}
.peopleTalking-content-block__image {
  max-width: 100%;
}
.peopleTalking-content-block__comment {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .peopleTalking__title {
    font-size: 42px;
  }
  .peopleTalking__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 60px;
  }
}
@media screen and (max-width: 481px) {
  .peopleTalking__title {
    font-size: 36px;
  }
  .peopleTalking__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
  }
  .peopleTalking__text {
    padding: 5%;
  }
}
.background {
  filter: blur(60px);
  position: absolute;
  z-index: 1;
}
.background-img {
  max-width: 100%;
  position: relative;
}

.relative {
  position: relative;
  z-index: 2;
}

.pricing {
  background-color: #4b3b4b;
  padding-bottom: 140px;
}
.pricing__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  padding: 50px 0 112px 0;
}
.pricing__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
}
.pricing__item {
  display: flex;
  justify-content: space-between;
  width: 257px;
  background-color: rgba(220, 220, 220, 0.1);
  backdrop-filter: blur(2px);
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 37px;
}
.pricing__item-title {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  padding: 36px 30px;
  background-color: rgba(240, 240, 240, 0.1);
  backdrop-filter: blur(5px);
}
.pricing__item-price {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
  line-height: 90px;
  padding: 30px 0px 20px 0px;
}
.pricing__item-elem {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.pricing__item-elem::after {
  content: "";
  display: block;
  border-bottom: 5px solid #8d81ac;
  width: 60px;
  margin: 38px auto 30px;
}
.pricing__item-description {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  padding: 0px 23px 62px 23px;
  text-transform: capitalize;
}
.pricing__item-btn {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(240, 240, 240, 0.1);
  backdrop-filter: blur(5px);
  font-size: 15px;
  padding: 15px;
  width: 163px;
  border-radius: 30px;
  margin: 0 auto;
}

.pricing__item:nth-child(2) {
  margin-right: 25px;
}

.pricing__item:nth-child(4) {
  margin-left: 25px;
}

.pricing__item.accented {
  height: 100%;
  transform: scale(1.2);
  flex-grow: 1;
  background-color: rgba(75, 52, 73, 0.5);
  backdrop-filter: blur(5px);
}
.pricing__item.accented .pricing__item-title {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 43px;
}
.pricing__item.accented .pricing__item-price {
  font-size: 82px;
  line-height: 90px;
  padding: 14px 0px 16px;
}
.pricing__item.accented .pricing__item-description {
  padding: 10px 0px 83px 0px;
}

@media screen and (max-width: 1150px) {
  .pricing__wrapper {
    grid-template-columns: 299px 257px;
    justify-content: center;
  }
  .pricing__item {
    margin-bottom: 71px;
  }
  .pricing__item:nth-child(2) {
    margin-right: 0;
  }
  .pricing__item:nth-child(4) {
    margin-left: 0;
  }
  .pricing__title {
    font-size: 42px;
    line-height: 44px;
    padding: 0 0 39px 0;
  }
  .pricing__item.accented {
    justify-self: start;
  }
}
@media screen and (max-width: 600px) {
  .pricing {
    padding-bottom: 40px;
  }
  .pricing__wrapper {
    grid-template-columns: 1fr;
  }
  .pricing__item {
    margin: 0 0 20px 0;
  }
  .pricing__item:nth-child(2) {
    margin-bottom: 60px;
  }
  .pricing__item:nth-child(4) {
    margin-top: 60px;
  }
  .pricing__title {
    font-size: 28px;
    line-height: 42px;
    padding: 0 0 32px 0;
  }
  .pricing__item.accented {
    justify-self: center;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
  }
}