.header {
  padding-top: 3%;
  background-color: #010005;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-wrap .hamb-menu {
  @include flex-space-between;
  align-items: center;
  margin-left: 25%;
  &__item {
    @include monserrat-normal;
    font-size: 11px;
    margin-right: 40px;
    flex-shrink: 0;
  }
}
.navbar-wrap .hamb-menu__item a,
.navbar__button {
  @include monserrat-normal;
  text-decoration: none;
  color: $-accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  &:hover {
    color: $-main-color;
  }
}
.navbar__button {
  color: $-main-color;
  padding: 11px 0px;
  border-radius: 40px;
  background-color: $-accent-color;
  width: 145px;
  height: 38px;
  &:hover {
    color: $-accent-color;
    background-color: $-main-color;
  }
}
.navbar-wrap {
  height: 100%;
}
.popup {
  display: none;
}
.hamb {
  display: none;
}
.close_icon {
  display: none;
  align-items: flex-end;
  flex-shrink: 1;
  padding: 13px 14px;
  cursor: pointer;
  &-img {
    width: 23px;
  }
}
.navbar-logo {
  display: flex;
  align-items: center;
  &__text {
    @include lato-normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $-accent-color;
  }
  &__img {
    width: 48px;
    margin-right: 17px;
  }
  &:hover .navbar-logo__text {
    color: $-main-color;
  }
  &:hover .navbar-logo__img {
    content: url(/dist/img.min/logo-hover.png);
  }
}
.header-subscribe {
  background-image: url(/dist/img.min/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3% 0 30%;
  &__title {
    @include monserrat-normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    color: $-main-color;
    margin: 127px auto 3%;
    text-align: center;
  }
  &__subtitle {
    @include lato-normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: $-accent-color;
    text-align: center;
    margin-bottom: 20px;
  }
  &__specification {
    @include monserrat-normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $-additional-color;
    text-align: center;
    margin: 20px auto 150px;
  }
}
@media screen and (max-width: 1091px) {
  .navbar-wrap .hamb-menu {
    margin-left: 15%;
  }
}

@media screen and (max-width: 991px) {
  .header {
    background-color: #27262a;
  }
  .header-subscribe {
    &__title {
      font-size: 72px;
      margin-top: 40px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__specification {
      font-size: 14px;
    }
  }
  .navbar-wrap .hamb-menu {
    flex-shrink: 0;
    margin: 30px auto;
  }
  .navbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    grid-template-areas:
      "navbar__logo navbar__button"
      "hamb-menu hamb-menu";
  }
  .navbar__logo {
    grid-area: navbar__logo;
  }
  .hamb-menu {
    grid-area: hamb-menu;
  }
  .navbar__button {
    grid-area: navbar__button;
  }
}
@media screen and (max-width: 550px) {
  .navbar-wrap .hamb-menu {
    &__item {
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 480px) {
  .navbar__button {
    flex: 0 1 119px;
  }
  .header-subscribe {
    &__title {
      font-size: 48px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
  .navbar-wrap .hamb-menu {
    display: none;
  }
  .navbar-logo__text {
    display: none;
  }
  .navbar {
    @include flex-space-between;
    align-items: center;
  }
  .hamb {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-shrink: 1;
    &__field {
      padding: 13px 14px;
      cursor: pointer;
    }
  }
  .hamb__field.active .bar:nth-child(1) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(2) {
    transform: translateY(-2px) rotate(45deg);
    margin-top: 5px;
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .bar {
    display: block;
    width: 26px;
    height: 3px;
    margin: 6px auto;
    background-color: $-main-color;
    transition: 0.2s;
    border-radius: 5px;
  }
  .bar:nth-child(1) {
    width: 15px;
    margin-left: 11px;
  }
  .popup {
    position: absolute;
    top: 60px;
    height: 378px;
    width: 293px;
    z-index: 100;
    transition: 0.3s;
  }
  .popup.open {
    right: 0;
    display: flex;
  }
  .popup .hamb-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .popup .hamb-menu__item {
    padding: 29px 0px 29px 0px;
    font-size: 14px;
    background-color: #333333;
    border: 2px solid #3b3b3b;
  }
  .popup .hamb-menu__item a {
    @include monserrat-normal;
    color: $-main-color;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    padding: 10px 0px 10px 35px;
    &:hover {
      color: $-accent-color;
      border-left: 8px solid $-accent-color;
    }
  }
}
