.peopleTalking {
  background-image: url(/dist/img.min/peopleTalking-bg.jpg);
  background-color: #4b3b4b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  &__title {
    @include title-h3;
    padding: 10% 0px 5% 0px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 85px;
  }
  &__text {
    @include lato-normal;
    color: #a291a5;
    padding: 10%;
    &::after {
      content: "";
      display: block;
      text-align: center;
      border-bottom: 2px solid #645766;
      width: 80%;
      margin: 18px auto;
    }
  }
}
.peopleTalking-content-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
  justify-items: center;
  gap: 30px;
  &__image {
    max-width: 100%;
  }
  &__comment {
    @include lato-italic;
  }
}
@media screen and (max-width: 991px) {
  .peopleTalking {
    &__title {
      font-size: 42px;
    }
    &__content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 60px;
    }
  }
}

@media screen and (max-width: 481px) {
  .peopleTalking {
    &__title {
      font-size: 36px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      margin-bottom: 45px;
    }
    &__text {
      padding: 5%;
    }
  }
}
