.background {
  filter: blur(60px);
  position: absolute;
  z-index: 1;
  &-img {
    max-width: 100%;
    position: relative;
  }
}
.relative {
  position: relative;
  z-index: 2;
}
.pricing {
  background-color: #4b3b4b;
  padding-bottom: 140px;
  &__title {
    @include title-h3;
    text-transform: capitalize;
    padding: 50px 0 112px 0;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
  }
  &__item {
    @include flex-space-between;
    width: 257px;
    background-color: rgba(220, 220, 220, 0.1);
    backdrop-filter: blur(2px);
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 37px;
    &-title {
      @include monserrat-normal;
      text-transform: uppercase;
      color: $-main-color;
      font-size: 24px;
      line-height: 24px;
      padding: 36px 30px;
      @include bg-blur;
    }
    &-price {
      @include pricing-item;
      font-size: 60px;
      line-height: 90px;
      padding: 30px 0px 20px 0px;
    }
    &-elem {
      @include pricing-item;
      font-size: 14px;
      line-height: 16px;
      &::after {
        content: "";
        display: block;
        border-bottom: 5px solid $-accent-color;
        width: 60px;
        margin: 38px auto 30px;
      }
    }
    &-description {
      @include pricing-item;
      font-size: 16px;
      line-height: 18px;
      padding: 0px 23px 62px 23px;
      text-transform: capitalize;
    }
    &-btn {
      @include pricing-item;
      @include bg-blur;
      font-size: 15px;
      padding: 15px;
      width: 163px;
      border-radius: 30px;
      margin: 0 auto;
    }
  }
}
.pricing__item:nth-child(2) {
  margin-right: 25px;
}
.pricing__item:nth-child(4) {
  margin-left: 25px;
}
.pricing__item.accented {
  height: 100%;
  transform: scale(1.2);
  flex-grow: 1;
  background-color: rgb(75, 52, 73, 0.5);
  backdrop-filter: blur(5px);
  .pricing__item-title {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 43px;
  }
  .pricing__item-price {
    font-size: 82px;
    line-height: 90px;
    padding: 14px 0px 16px;
  }
  .pricing__item-description {
    padding: 10px 0px 83px 0px;
  }
}
@media screen and (max-width: 1150px) {
  .pricing {
    &__wrapper {
      grid-template-columns: 299px 257px;
      justify-content:center;
    }
    &__item {
      margin-bottom: 71px;
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(4) {
        margin-left: 0;
      }
    }
    &__title {
      font-size: 42px;
      line-height: 44px;
      padding: 0 0 39px 0;
    }
  }
  .pricing__item.accented {
    justify-self: start;
  }
}
@media screen and (max-width: 600px) {
  .pricing {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      margin: 0 0 20px 0;
      &:nth-child(2) {
        margin-bottom: 60px;
      }
      &:nth-child(4) {
        margin-top: 60px;
      }
    }
    &__title {
      font-size: 28px;
      line-height: 42px;
      padding: 0 0 32px 0;
    }
  }
  .pricing__item.accented {
    justify-self: center;
  }
}
