.whatYouGet {
  background-color: #f4f4f4;
  @include monserrat-normal;
  position: relative;
  padding-top: 94px;
  padding-bottom: 71px;
  &__wrapper {
    @include flex-space-between;
    flex-wrap: nowrap;
  }
  &__features {
    flex: 1 1 390px;
  }
  &__element {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
  }
}
.feature__item {
  display: grid;
  grid-template-columns: 111px minmax(330px, 400px);
  gap: 20px;
  padding-bottom: 34px;
}
.feature__item-img {
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
}
.feature__item-title {
  font-size: 16px;
  line-height: 21px;
  color: #323232;
}
.feature__item-content {
  font-size: 14px;
  line-height: 21px;
  color: $-additional-color;
}
.whatYouGet__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: $-accent-color;
  margin-left: 10%;
  position: relative;
  &.outside {
    display: none;
  }
  &::after {
    content: ">";
  }
  &::before {
    content: "<";
  }
}
@media screen and (min-width: 1200px) {
  .whatYouGet__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .feature__item {
    grid-template-columns: 111px 1fr;
  }
  .whatYouGet {
    background-color: $-main-color;
    padding-top: 5%;
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  .whatYouGet__title {
    &.outside {
      display: block;
      font-size: 42px;
      margin-bottom: 5%;
      text-align: center;
    }
    &.within {
      display: none;
    }
  }
  .img-wrapper {
    margin-left: 30px;
  }
}
@media screen and (max-width: 481px) {
  .whatYouGet {
    &__img {
      height: 381px;
      object-fit: cover;
      object-position: left;
    }
  }
  .feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 34px;
    &-description {
      text-align: center;
    }
  }
  .whatYouGet__title {
    &.outside {
      font-size: 32px;
    }
  }
}
