.revoEditor {
  text-align: center;
  position: relative;
}
.revoEditor__downloadBtn {
  @include monserrat-normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  color: $-main-color;
  background: $-accent-color;
  border: 2px solid $-accent-color;
  border-radius: 40px;
  box-sizing: border-box;
  width: 390px;
  height: 62px;
  padding: 17px 55px;
  align-items: center;
  position: absolute;
  top: -81px;
  left: calc(50% - 390px / 2);
  &:hover {
    color: $-accent-color;
    background-color: $-main-color;
  }
}
.revoEditor__item {
  @include monserrat-normal;
  font-size: 14px;
  line-height: 15px;
  color: $-additional-color;
  margin: 50px auto 70px;
}
.revoEditor__title {
  @include monserrat-normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #635c73;
  margin-bottom: 35px;
}
.revoEditor__content {
  @include lato-normal;
  font-size: 21px;
  line-height: 32px;
  color: #323232;
  margin: 0 168px;
}
.revoEditor__button-wrapper {
  display: flex;
  margin: 20px auto 70px;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
}
.revoEditor__button {
  margin: 5px;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 116px;
  height: 26px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: none;
}
.button-item {
  display: flex;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 4px;
  align-items: center;
  height: 100%;
  width: 100%;
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__text {
    @include lato-normal;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
    height: 100%;
  }
  &__amount {
    font-size: 10px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;
    box-sizing: border-box;
    background-color: none;
    border-left: 1px solid rgb(221, 221, 221);
  }
}
@media screen and (max-width: 991px) {
  .revoEditor__content {
    margin: 0 38px;
  }
}
@media screen and (max-width: 770px) {
  .revoEditor__title {
    font-size: 42px;
    line-height: 42px;
  }
}
@media screen and (max-width: 480px) {
  .revoEditor__downloadBtn {
    width: 290px;
    height: 45px;
    padding: 10px 27px;
    font-size: 18px;
    line-height: 20px;
    top: -73px;
    left: calc(50% - 290px / 2);
  }
  .revoEditor__title {
    font-size: 26px;
    line-height: 28px;
  }
  .revoEditor__content {
    margin: 0 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .revoEditor__button-wrapper {
    margin-top: 36px;
  }
  .revoEditor__button {
    margin-bottom: 20px;
  }
}
