@mixin monserrat-normal {
  font-family: "Montserrat";
  font-style: normal;
}
@mixin lato-normal {
  font-family: "Lato";
  font-style: normal;
}
@mixin lato-italic {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $-main-color;
}
@mixin title-h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: $-main-color;
  text-align: center;
}
@mixin pricing-item {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: $-main-color;
}
@mixin bg-blur {
  background-color: rgba(240, 240, 240, 0.1);
  backdrop-filter: blur(5px);
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
