@import "./variables";
@import "./mixins";
@import "./header";
@import "./main-revolutionary";
@import "./_main-whatyouget";
@import "./_main-peopleTalking";
@import "./main-pricing";
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
  }
}
